@import 'src/theme';

.theme-switch {
  box-sizing: border-box;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;

  label {
    margin-right: 20px;

    @include theme-dark() {
      color: #fff;
    }
  }
}
