@import "theme";

@mixin flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin container {
  @include flex-center-column;
  width: 100vw;
  height: 100vh;

  @include theme-dark {
    background-color: #313435;
  }
}
