@import 'theme';

@mixin flex-center-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin container {
  @include flex-center-column;

  height: 100vh;
  width: 100vw;

  @include theme-dark {
    background-color: #313435;
  }
}
